.join-erda {
  .full-width-header {
    height: 330px;
    @include pageHeaderBg();
  }

  .body {
    @include pageBodyHeight();
  }

  .arrows {
    position: relative;
    width: 60px;
    height: 0;
    border-style: dashed;
    border-bottom: 2px dotted #5c4ded;

    &:after {
      position: absolute;
      top: -4px;
      right: -18px;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: #5c4ded;
      border-left-width: 15px;
      content: "";
    }
  }

  .sub-title {
    &:before,
    &:after {
      position: absolute;
      display: block;
      width: 65px;
      height: 16px;
      background: $primary;
      opacity: 0.12;
      content: "";
    }

    &:before {
      bottom: 10px;
      left: 0;
    }

    &:after {
      top: 10px;
      right: 0;
    }
  }
}
