.erda-default-layout {
  display: flex;
  flex-direction: column;
  background: $color-white-7;

  .erda-site-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    > section:first-child,
    > div:first-child {
      padding-top: $header-height;
    }
  }

  &.only-main {
    .erda-site-content {
      > section:first-child,
      > div:first-child {
        padding-top: 0;
      }
    }
  }

  @include sm-width() {
    .erda-site-content {
      > section:first-child,
      > div:first-child {
        padding-top: $mobile-header-height;
      }
    }
  }
}
